
<div class="card large" *ngFor="let tvShowDetail of tvShowDetails">
  <div class="section">
    <div class="row">
      <div class="col-md-11">
        <h2>{{ tvShowDetail.name }}</h2>
      </div>
      <div class="col-md-1">
        <span class="icon-info" [routerLink]="[ '/tv-show/', tvShowDetail.id ]"></span>
        <span class="icon-bookmark highlight" (click)="onTvBookmarkClicked(tvShowDetail)"></span>
      </div>
    </div>
  </div>
  <img [src]="tvShowDetail.image_path" class="section media" />
  <div class="section">
    Next episode: {{ tvShowDetail.countdown | date }}
  </div>
</div>

