<div class="row">
  <div class="col-sm-6">
    <img [src]="tvShowDetails.image_path" alt="Image" class="img-fluid">
  </div>
  <div class="col-md-6" [innerHTML]="tvShowDetails.description">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>{{ tvShowDetails.rating | number }}/10 (rated by {{ tvShowDetails.rating_count }} people)</p>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <p [appNumberOfSeasons]="tvShowDetails.episodes"  (numberOfSeasons)="handleNumberOfSeasons($event)">
      {{ tvShowDetails.episodes.length }} episodes  {{ count | i18nPlural:{"=0": "", "=1": "01 season", "other": "# seasons"} }}
    </p>
  </div>
</div>

